[Desktop Entry]
Version=1.0
Type=Application
Categories=Network;
Name=LifeStuff Client
Comment=Secure P2P Lifestyle Application
Exec=/opt/maidsafe/lifestuff/ClientDemo
Icon=/opt/maidsafe/lifestuff/installer.ico
Terminal=true

